<div class="row">
  <div class="col-sm-12">
    <img [src]="recipe.imagePath" class="img-fluid" style="max-height: 250px" />
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h2> {{recipe.name}}</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <!-- DropDown -->
    <div class="btn-group" role="group" >
      <button id="btnGroupDrop" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <!-- data-toggle="dropdown" -->
        Manage Recipe
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" (click) = addToShoppingList();>Add to Shopping List</a>
        <a class="dropdown-item" (click) = "onEditRecipe()">Edit Recipe</a>
        <a class="dropdown-item" (click) = "onDeleteRecipe()">Delete Recipe</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingr of recipe.ingredients">
        {{ingr.name}} ({{ingr.amount}})
      </li>
    </ul>
  </div>
</div>